infra/metabase/plugins/duckdb.metabase-driver.jar filter=lfs diff=lfs merge=lfs -text
infra/metabase/plugins/duckdb_jdbc-0.10.0.jar filter=lfs diff=lfs merge=lfs -text
metabase-plugins/snowflake.metabase-driver.jar filter=lfs diff=lfs merge=lfs -text
